.footer {
    position: relative;
    padding: 16px 0;
    background: #ddd;
    color: #222;

    a {color: #222;}
    nav { float: right; 

        ul {
            list-style-type: none;
            margin: 0; 
            padding: 0;

            li { float: left;

                a {
                    padding: 18px 20px 17px;    
                    font-size: 16px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;                 

                    &:hover {background: #cfcfcf;}
                }
            }
        }
    }
}