<div class="banner">
    <img src="../assets/images/about-us.png" alt="About Us">
</div>

<section>
  <div class="container">
    <h1>About US</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel massa erat. Proin eu nunc egestas erat pretium pellentesque
      id ac nisi. Donec sit amet tortor et erat viverra efficitur at vitae nibh. Phasellus vitae dui interdum, pretium orci
      varius, faucibus mauris. Duis non risus arcu. Phasellus ut feugiat nunc, a dapibus quam. Nulla lectus nisl, ultricies
      et dui quis, aliquam facilisis lectus. Aliquam eleifend quam vitae cursus tincidunt. Aenean ac purus sit amet magna
      efficitur auctor eu vitae urna. Duis hendrerit nibh quis ligula consequat, in accumsan enim tincidunt. Mauris venenatis
      posuere enim vel dignissim. Pellentesque porta varius tortor vitae varius. Praesent eu lorem nunc.
    </p>
    <p>
      In nunc est, tincidunt in sapien sed, malesuada maximus dui. In congue elementum tellus in scelerisque. In varius orci sit
      amet arcu bibendum, vitae sollicitudin mi lobortis. Mauris velit turpis, ullamcorper a tincidunt quis, porta ac mauris.
      Donec dictum vestibulum elit, tempor facilisis nunc porta eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Integer tempus mattis nisl sit amet elementum. Fusce venenatis commodo augue, at blandit justo. Curabitur et tempus
      dolor. In in diam ex. Etiam eu arcu at leo viverra molestie sit amet ac quam. Nullam aliquet metus et risus sollicitudin,
      ut tristique nibh cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </p>
    <p>
      Etiam tempus mi eu gravida tincidunt. Pellentesque convallis auctor quam, a congue magna iaculis et. Quisque congue porta
      maximus. Praesent placerat vulputate iaculis. Curabitur eu elit eu dui congue hendrerit. Fusce sit amet egestas turpis.
      Donec quis neque porttitor, feugiat ante at, maximus purus. Mauris fermentum nibh felis, at varius dui aliquet id.
      Aenean at sapien ornare, viverra nulla vel, pretium metus. Praesent ullamcorper accumsan mauris in viverra. Nunc sagittis
      turpis id sem pretium consequat. Sed sed ullamcorper sem. Sed pulvinar leo eget nisl consectetur, a sollicitudin elit
      blandit. Sed euismod tortor sed eros vulputate, et condimentum lacus mollis. </p>

  </div>
</section>